<div class="soda">
  <div class="py-3 title d-flex align-items-center">
    <h5 class="m-0">ĐIỂM TÂM SÁNG</h5>
    {{- if isset .Site.Taxonomies "categories" }}
      {{- range $name, $items := .Site.Taxonomies.categories }}
      {{ range first 1 $items.Pages }}
      {{ if  in .Params.categories "Breakfast"}}
        <a class="font-weight-bold ml-auto" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">XEM TẤT CẢ<i class="feather-chevrons-right"></i></a>
      {{- end }}{{- end }}{{- end }}
    {{- end }}    </div>
  <div class="row">
    {{ range $taxonomy := .Site.Taxonomies.categories }}
    {{ range first 4 $taxonomy.Pages }}    {{ if  in .Params.categories "Breakfast"}}

    <div class="col-md-3 pb-3">
      <div class="list-card bg-white  rounded overflow-hidden position-relative shadow-sm">

        <div class="list-card-image">
            
          <div class="star position-absolute"><span class="badge badge-success"><i class="feather-star"></i></span></div>
          <div class="favourite-heart text-danger position-absolute"><a href="#"><i class="feather-heart"></i></a></div>
          <div class="member-plan position-absolute"><span class="badge badge-dark">{{range .Params.Categories}}{{. | humanize}}{{end}}</span></div>
          <a href="{{ .Permalink }}">
            {{ if .Params.image }}
             <img alt="{{ .Title }}" src="{{ .Params.image }}" class="img-fluid item-img w-100">
            {{ else }}
            <img alt="{{ .Title }}" src="/img/500x300.jpg" class="img-fluid item-img w-100">
            {{ end }}
          </a>
        </div>
        <div class="p-3 position-relative">
          <div class="list-card-body">
            <h6 class="mb-1"><a href="{{ .Permalink }}" class="text-black">{{.Title}}</a></h6>
            <p class="text-gray mb-1 small">{{range .Params.tags}}
              • <a class="font-weight-bold ml-auto" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
              {{. | humanize}}</a>{{end}}</p>            <p class="text-gray mb-1 rating">
            </p>
            <ul class="rating-stars list-unstyled">

            </ul>
            <p></p>
          </div>
          <div class="list-card-badge">
            <span class="badge badge-success">           
              {{ if .Params.price }}
              {{ .Params.price }} VND
              {{ else }}
                LIÊN HỆ
              {{ end }}</span> <small></small>
          </div>
        </div>
      </div>

    </div>
    {{ end }}
    {{ end }}
    {{ end }}
  </div>

</div>