    <meta charset="utf-8">
    <title itemprop="name">{{ .Title }} - {{ .Site.Params.sitename }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.min.css" />
    <link href="/css/feather.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet">
