<header class="section-header">
    <section class="header-main shadow-sm bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-1">
            <a href="/" class="brand-wrap mb-0">
              <img alt="#" class="img-fluid" src="/img/logo.jpg">
            </a>

          </div>
          <div class="col-3 d-flex align-items-center m-none">

          </div>

          <div class="col-8 py-4">
            <div class="d-flex align-items-center justify-content-end pr-3">

              <a href="soda.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span> Soda </span>
                </div>
              </a>
              <a href="dispensing.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Pha chế</span>
                </div>
              </a>
              <a href="chiaseeds.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Hạt chia</span>
                </div>
              </a>
              <a href="icescream.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Kem</span>
                </div>
              </a>
              <a href="yaour.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Yaourt</span>
                </div>
              </a>
              <a href="tea.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Trà</span>
                </div>
              </a>
              <a href="smoothie.html" class="widget-header mr-4 text-dark">
                <div class="icon d-flex align-items-center">
                   <span>Sinh tố - Nước ép</span>
                </div>
              </a>
              <a href="breakfast.html" class="widget-header mr-4 text-dark m-none">
                <div class="icon d-flex align-items-center">
                  <span>Điểm tâm sáng</span>
                </div>
              </a>
              <a href="breakfast.html" class="widget-header mr-4 text-dark m-none">
                <div class="icon d-flex align-items-center">
                  <span>Điểm tâm trưa</span>
                </div>
              </a>

              <a class="toggle hc-nav-trigger hc-nav-1" href="#" role="button" aria-controls="hc-nav-1">
                <span></span>
              </a>
            </div>

          </div>

        </div>

      </div>

    </section>

  </header>