<div class="osahan-home-page">
    <div class="bg-primary p-3 d-none">
      <div class="text-white">
        <div class="title d-flex align-items-center">
          <a class="toggle" href="#">
            <span></span>
          </a>
          <h4 class="font-weight-bold m-0 pl-5">Browse</h4>
          <a class="text-white font-weight-bold ml-auto" data-toggle="modal" data-target="#exampleModal" href="#">Filter</a>
        </div>
      </div>
      <div class="input-group mt-3 rounded shadow-sm overflow-hidden">
        <div class="input-group-prepend">
          <button class="border-0 btn btn-outline-secondary text-dark bg-white btn-block"><i class="feather-search"></i></button>
        </div>
        <input type="text" class="shadow-none border-0 form-control" placeholder="Search for restaurants or dishes">
      </div>
    </div>

    <div class="container">
      <div class="cat-slider">
        {{ range $taxonomy := .Site.Taxonomies.categories }}
        {{ range $taxonomy.Pages }}
        {{ if  in .Params.categories "Thức Uống Pha"}}
        <div class="cat-item px-1 py-3 quick-product">
          <a href="{{ .Permalink }}">
            {{ if .Params.image }}
             <img alt="{{ .Title }}" src="{{ .Params.image }}" class="img-fluid item-img w-100">
            {{ else }}
            <img alt="{{ .Title }}" src="/img/500x300.jpg" class="img-fluid item-img w-100">
            {{ end }}
            <p class="m-0 small">{{ .Title }}</p>
          </a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>


    {{ partial "section/promoted.html" . }}

    <div class="container">

      <div class="pt-4 pb-2 title d-flex align-items-center">
        <h5 class="m-0">ĐIỂM TÂM PHỔ BIẾN TRONG TUẦN</h5>
      </div>

      {{ partial "section/trending.html" . }}

      <!-- SODA -->
      {{ partial "drinks/soda.html" . }}
      <!-- PHA CHẾ -->
      {{ partial "drinks/dispensing.html" . }}
      <!-- HAT CHIA -->
      {{ partial "drinks/chiaseeds.html" . }}
      <!-- KEM -->
      {{ partial "drinks/icescream.html" . }}
      <!-- YAOUR -->
      {{ partial "drinks/yaour.html" . }}
      <!-- TRA -->
      {{ partial "drinks/tea.html" . }}
      <!-- SINH TO - NUOC EP -->
      {{ partial "drinks/smoothie.html" . }}
      <!-- DIEM TAN SANG -->
      {{ partial "food/breakfast.html" . }}
      <!-- COM TRUA -->
      {{ partial "food/lunch.html" . }}      
    </div>
  </div> 
  <div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center d-none">
    <div class="row">
      <div class="col selected">
        <a href="/" class="text-danger small font-weight-bold text-decoration-none">
          <p class="h4 m-0"><i class="feather-home text-danger"></i></p>
          TRANG CHỦ
        </a>
      </div>
      <div class="col">
        <a href="/categories/popular" class="text-dark small font-weight-bold text-decoration-none">
          <p class="h4 m-0"><i class="feather-map-pin"></i></p>
          PHỔ BIẾN
        </a>
      </div>
 
      <div class="col">
        <a href="/" class="text-dark small font-weight-bold text-decoration-none">
          <p class="h4 m-0"><i class="feather-heart"></i></p>
          HỢP TÁC
        </a>
      </div>
      <div class="col">
        <a href="/" class="text-dark small font-weight-bold text-decoration-none">
          <p class="h4 m-0"><i class="feather-user"></i></p>
          LIÊN HỆ
        </a>
      </div>
    </div>
  </div>