<nav role="navigation" class="hc-offcanvas-nav hc-nav-1 nav-levels-overlap nav-position-left disable-body" aria-hidden="true" aria-labelledby="hc-nav-1">
    <div class="nav-container" style="">
      <div class="nav-wrapper nav-wrapper-0" data-level="0" data-index="0">
        <div class="nav-content">
          <h2>Coffee Sông Trăng</h2>
          <ul role="menu" aria-level="1" class="second-nav" aria-label="Askbootstrap">
            <li>
              <div class="nav-item-wrapper"><a href="home.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-home mr-2"></i> Homepage</a></div>
            </li>
            <li class="nav-close">
              <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Close<span></span></a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="my_order.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-list mr-2"></i> My Orders</a></div>
            </li>

        </div>
      </div>
    </div>
  </nav>