<nav role="navigation" class="hc-offcanvas-nav hc-nav-1 nav-levels-overlap nav-position-left disable-body" aria-hidden="true" aria-labelledby="hc-nav-1">
    <div class="nav-container" style="">
      <div class="nav-wrapper nav-wrapper-0" data-level="0" data-index="0">
        <div class="nav-content">
          <h2>Askbootstrap</h2>
          <ul role="menu" aria-level="1" class="second-nav" aria-label="Askbootstrap">
            <li>
              <div class="nav-item-wrapper"><a href="home.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-home mr-2"></i> Homepage</a></div>
            </li>
            <li class="nav-close">
              <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Close<span></span></a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="my_order.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-list mr-2"></i> My Orders</a></div>
            </li>
            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-1-0" class="hc-chk" tabindex="-1" data-level="1" data-index="0" value="5kk9ogzawxs">
              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-5kk9ogzawxs" aria-haspopup="true" aria-expanded="false"><i class="feather-edit-2 mr-2"></i> Authentication<span
                    class="nav-next"></span></a></div>
              <div class="nav-wrapper nav-wrapper-1" data-level="1" data-index="0">
                <div class="nav-content">
                  <h2>Authentication</h2>
                  <ul role="menu" aria-level="2" aria-label="Authentication" aria-labelledby="menu-5kk9ogzawxs">
                    <li class="nav-back">
                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Askbootstrap<span></span></a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="login.html" class="nav-item" tabindex="0" role="menuitem">Login</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="signup.html" class="nav-item" tabindex="0" role="menuitem">Register</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="forgot_password.html" class="nav-item" tabindex="0" role="menuitem">Forgot Password</a>
                      </div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="verification.html" class="nav-item" tabindex="0" role="menuitem">Verification</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="location.html" class="nav-item" tabindex="0" role="menuitem">Location</a></div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="favorites.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-heart mr-2"></i> Favorites</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="trending.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-trending-up mr-2"></i> Trending</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="most_popular.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-award mr-2"></i> Most Popular</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="restaurant.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-paperclip mr-2"></i> Restaurant Detail</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="checkout.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-list mr-2"></i> Checkout</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="successful.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-check-circle mr-2"></i> Successful</a></div>
            </li>
            <li>
              <div class="nav-item-wrapper"><a href="map.html" class="nav-item" tabindex="0" role="menuitem"><i class="feather-map-pin mr-2"></i> Live Map</a></div>
            </li>
            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-1-1" class="hc-chk" tabindex="-1" data-level="1" data-index="1" value="oqzavltzhj">
              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-oqzavltzhj" aria-haspopup="true" aria-expanded="false"><i class="feather-user mr-2"></i> Profile<span
                    class="nav-next"></span></a></div>
              <div class="nav-wrapper nav-wrapper-1" data-level="1" data-index="1">
                <div class="nav-content">
                  <h2>Profile</h2>
                  <ul role="menu" aria-level="2" aria-label="Profile" aria-labelledby="menu-oqzavltzhj">
                    <li class="nav-back">
                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Askbootstrap<span></span></a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="profile.html" class="nav-item" tabindex="0" role="menuitem">Profile</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="favorites.html" class="nav-item" tabindex="0" role="menuitem">Delivery support</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="contact-us.html" class="nav-item" tabindex="0" role="menuitem">Contact Us</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="terms.html" class="nav-item" tabindex="0" role="menuitem">Terms of use</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="privacy.html" class="nav-item" tabindex="0" role="menuitem">Privacy &amp; Policy</a></div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-1-2" class="hc-chk" tabindex="-1" data-level="1" data-index="2" value="fhkee2mf7ok">
              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-fhkee2mf7ok" aria-haspopup="true" aria-expanded="false"><i class="feather-alert-triangle mr-2"></i> Error<span
                    class="nav-next"></span></a>
              </div>
              <div class="nav-wrapper nav-wrapper-1" data-level="1" data-index="2">
                <div class="nav-content">
                  <h2>Error</h2>
                  <ul role="menu" aria-level="2" aria-label="Error" aria-labelledby="menu-fhkee2mf7ok">
                    <li class="nav-back">
                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Askbootstrap<span></span></a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="not-found.html" class="nav-item" tabindex="0" role="menuitem">Not Found</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="maintence.html" class="nav-item" tabindex="0" role="menuitem"> Maintence</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="coming-soon.html" class="nav-item" tabindex="0" role="menuitem">Coming Soon</a></div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-1-3" class="hc-chk" tabindex="-1" data-level="1" data-index="3" value="i8gben3kteg">
              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-i8gben3kteg" aria-haspopup="true" aria-expanded="false"><i class="feather-link mr-2"></i> Navigation Link Example<span
                    class="nav-next"></span></a></div>
              <div class="nav-wrapper nav-wrapper-1" data-level="1" data-index="3">
                <div class="nav-content">
                  <h2>Navigation Link Example</h2>
                  <ul role="menu" aria-level="2" aria-label="Navigation Link Example" aria-labelledby="menu-i8gben3kteg">
                    <li class="nav-back">
                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Askbootstrap<span></span></a></div>
                    </li>
                    <li class="nav-parent"><input type="checkbox" id="hc-nav-1-2-0" class="hc-chk" tabindex="-1" data-level="2" data-index="0" value="ghbnlkejhf4">
                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-ghbnlkejhf4" aria-haspopup="true" aria-expanded="false">Link Example 1<span class="nav-next"></span></a></div>
                      <div class="nav-wrapper nav-wrapper-2" data-level="2" data-index="0">
                        <div class="nav-content">
                          <h2>Link Example 1</h2>
                          <ul role="menu" aria-level="3" aria-label="Link Example 1" aria-labelledby="menu-ghbnlkejhf4">
                            <li class="nav-back">
                              <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Navigation Link
                                  Example<span></span></a></div>
                            </li>
                            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-3-0" class="hc-chk" tabindex="-1" data-level="3" data-index="0" value="7thxfc346ns">
                              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-7thxfc346ns" aria-haspopup="true" aria-expanded="false">Link
                                  Example 1.1<span class="nav-next"></span></a></div>
                              <div class="nav-wrapper nav-wrapper-3" data-level="3" data-index="0">
                                <div class="nav-content">
                                  <h2>Link Example 1.1</h2>
                                  <ul role="menu" aria-level="4" aria-label="Link Example 1.1" aria-labelledby="menu-7thxfc346ns">
                                    <li class="nav-back">
                                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Link
                                          Example 1<span></span></a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="nav-parent"><input type="checkbox" id="hc-nav-1-3-1" class="hc-chk" tabindex="-1" data-level="3" data-index="1" value="8sq92hm1cc8">
                              <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem" aria-controls="menu-8sq92hm1cc8" aria-haspopup="true" aria-expanded="false">Link
                                  Example 1.2<span class="nav-next"></span></a></div>
                              <div class="nav-wrapper nav-wrapper-3" data-level="3" data-index="1">
                                <div class="nav-content">
                                  <h2>Link Example 1.2</h2>
                                  <ul role="menu" aria-level="4" aria-label="Link Example 1.2" aria-labelledby="menu-8sq92hm1cc8">
                                    <li class="nav-back">
                                      <div class="nav-item-wrapper"><a href="#" role="menuitem" tabindex="0">Link
                                          Example 1<span></span></a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                    <li>
                                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link</a></div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link Example 2</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link Example 3</a></div>
                    </li>
                    <li>
                      <div class="nav-item-wrapper"><a href="#" class="nav-item" tabindex="0" role="menuitem">Link Example 4</a></div>
                    </li>
                    <li class="custom-content">
                      <div class="nav-item nav-item-custom">
                        <div class="custom-message">
                          You can add any custom content to your navigation items. This text
                          is just an example.
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <ul role="menu" aria-level="1" class="bottom-nav">
            <li class="email">
              <div class="nav-item-wrapper"><a class="text-danger nav-item" href="home.html" tabindex="0" role="menuitem">
                  <p class="h5 m-0"><i class="feather-home text-danger"></i></p>
                  Home
                </a></div>
            </li>
            <li class="github">
              <div class="nav-item-wrapper"><a href="faq.html" class="nav-item" tabindex="0" role="menuitem">
                  <p class="h5 m-0"><i class="feather-message-circle"></i></p>
                  FAQ
                </a></div>
            </li>
            <li class="ko-fi">
              <div class="nav-item-wrapper"><a href="contact-us.html" class="nav-item" tabindex="0" role="menuitem">
                  <p class="h5 m-0"><i class="feather-phone"></i></p>
                  Help
                </a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>