<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        {{ partial "meta" . }}
    </head>

    <body>
        {{- partial "nav.html" . -}}
        {{- partial "header.html" . -}}

        {{ if .IsHome }}
            {{- partial "main.html" . -}}
        {{ else }}
            
            <div id="content">
                {{- block "main" . -}}
            
                
                {{- end }}
            </div>
        {{ end }}
       
    
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}

    </body>
</html>
